.chart-container {
    display: flex;
    align-items: flex-start;
    /* margin: 20px 0; */
}

#bar-chart svg {
    width: 100%; /* Ensures SVG is responsive and takes the available width */
}

.tooltip {
    position: absolute;
    width: 60px;
    padding: 5px;
    background: lightsteelblue;
    border-radius: 8px;
    opacity: 0; /* Initially hidden */
}
