
/* .recommendation-banner{
    position: absolute;
    height: 50vh;
    background-size: cover;
    
} */


.recommendation-banner {
    position: relative;

    height: 40vh;
    
}

.recommendation-banner::before {
    content: '';
    background-image: url('/img/recommendation-banner.jpeg'); 

    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
   
    opacity: 0.7; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* border-radius: 20px; */
    z-index: 0; 
}

.recommendation-content {
    position: relative;
    z-index: 1; 
}

.search-field{
    width: 100%;
    padding: 0.8rem 3rem;

}

.search-container .search-input-append,
.search-container .search-input-prepend{
    position: absolute;
}

.search-container .search-input-append{
    right: 0;
}

.search-container img{
    width: 1.5rem;
    height: 1.5rem;
}

/* Safety */


.safety-covered img{
    width: 8rem;
    height: 8rem;
}

.safety-covered p.text-information{
    max-width: 30rem;
}

/* Recommendation */

.top-beach-card{
    border: 0.1rem solid var(--text-color);
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.top-beach-image{
    border-radius: 1.9rem;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    height: 20rem;
    opacity: 0.7; 
    z-index: 0;

}

.top-image-container{
    position: relative;
}

.top-image-container>.top-beach-name-container{
    position: absolute;
    bottom: 0;
    
}

/* .historical{
    height: 30vh;
} */


.top-beach .text-information{
    max-width: 30rem;
}

.star-icon{
    width: 2rem;
    height: 2rem;
}
/* End of Recommendation */

/* Detail */

.weather-information>div:nth-child(1){
    
    padding: 0.5rem 2.5rem;
    background-color: #ffec89;
}
.weather-information>div:nth-child(2){
    
    padding: 0.5rem 2.5rem;
    background-color: #d0f0d6;
}


.safe-beaufort-container>div{
    padding: 1rem;
    background-color: var(--secondary-color);
}

.beach-header-information span{
    padding: 1rem 0.4rem;
}

.beach-header-information .d-flex:nth-child(1) span{
    background-color: #F0BB51;

}


.beach-header-information .d-flex span{
    background-color: #3CBB6F;
    border-radius: 0.5rem;
}

.beach-information-section img{
    width: 40rem;
    height: 20rem;
}

.beach-information-section span.text{
    max-width: 50rem;
}

.current-weather img{
    width: 17rem;
    height: 17rem;
}

/* End of Detail */

