:root{
    --primary-color: #071952;
    --secondary-color: #9DBDFF;
    --background-color: #FFF;


    /* --background-color: #EBF4F6; */
    --darker-white: #F5F4FB;
    --more-darker: #D9D9D9;
    --text-color: #1B262C;

    
	--ff-gothic: 'Gothic A1', sans-serif;

    --section-padding-3: 3rem 0;
	--section-padding-5: 5rem 0;

    --fs-400: 1rem;
	--fs-500: 1.25rem; 
	--fs-600: 1.5rem; 
	--fs-700: 2rem; 


	--fw-bold: 700;

    /* --item-border-radius: 1rem; */
}

/* GENERAL */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

.a-none{
    text-decoration: none;

}

/* FONT */

.title{
    font-size: var(--fs-700);
    font-family: var(--ff-gothic);
}

.subtitle{
    font-size: var(--fs-600);
    font-family: var(--ff-gothic);

}

.text{
    font-size: var(--fs-500);
    font-family: var(--ff-gothic);

}

.text-bold{
    font-weight: var(--fw-bold);
}

.text-align-center{
    text-align: center;
}

.text-align-justify{
    text-align: justify;
}

/* TEXT COLOR */

.text-color{
    color: var(--text-color);
}

.text-primary-color{
    color: var(--primary-color);
}

.text-secondary-color{
    color: var(--secondary-color)
}

/* BACKGROUND COLOR */

.text-background-color{
    color: var(--background-color);
}

.text-background-darker-white{
    color: var(--darker-white);
}

.background-primary-color{
    background-color: var(--primary-color);
}

.background-secondary-color{
    background-color: var(--secondary-color);
}

.background-color{
    background-color: var(--background-color);
    
}

.background-darker-white{
    background-color: var(--darker-white);
}

.background-more-darker{
    background-color: var(--more-darker);
}

/* PADDING */

.section-padding{
    padding: var(--section-padding-5);
}

.footer-padding{
    padding: var(--section-padding-5);
}

/* IMAGES */

.icon{
    width: 3rem;
    height: 3rem;
}

.footer img{
    width: 10rem;
    height: 10rem;
}

.footer a:hover{
    color: var(--secondary-color)
}

.phone-icon{
    width: 1rem;
    height: 1rem;
}

.btn-main{
    /* color: var(--secondary-color) */
}


/* END OF GENERAL */


/* HOME */

.hero-banner{
    position: absolute;
    height: 50vh;
    /* background: url('/img/hero-banner.jpeg') center center no-repeat; */
    background-size: cover;
    
}

.hero-banner {
    position: relative;

    height: 60vh;
    
}

.hero-banner::before {
    content: '';
    background-image: url('/img/hero-banner.jpeg');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    z-index: 0;
}


.text-content {
    position: relative;
    z-index: 1;
}





/* END OF HOME */

.not-found-page{
    height: 58vh;
}