{% extends "template.html" %} {% block title %}Beach Flags - Aqua Guardians{%
endblock %} {% block content %}

<section id="beach-flags-video" class="beach-flags-video">
	<div class="row my-3">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="row my-3">
				<div class="col-md-12">
					<p class="title">Watch about flags information</p>
				</div>
			</div>

			<div class="row my-3">
				<div class="col-md-12">
					<div class="d-flex gap-3">
						<div class="form-group">
							<label for="languageSelect"
								>Choose your language of the video:</label
							>
							<select id="languageSelect" aria-label="">
								<option selected>
									Which language are you comfortable with?
								</option>
								<option value="en">English</option>
								<option value="fil">Filipino</option>
								<option value="hi">Hindi</option>
								<option value="zh">Chinese</option>
							</select>

							<button class="btn btn-outline-primary" id="flagLanguage">
								Choose
							</button>
						</div>
					</div>
				</div>
			</div>

			<!-- Video -->
			<div class="row my-3">
				<div class="col-md-12">
					<div class="flagVideoContainer"></div>
					<iframe
						id="flagVideoIframe"
						class="embed-responsive-item"
						width="100%"
						height="720"
						src="https://www.youtube.com/embed/i9VQsTRQRYk"
						title="[English with sub] Beach flags in Victoria"
						frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
						referrerpolicy="strict-origin-when-cross-origin"
						allowfullscreen
					></iframe>
				</div>
			</div>
		</div>
	</div>

	<!-- Video -->
</section>

<section id="beach-flags" class="beach-flags">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="row my-3">
				<div class="col-md-12">
					<p class="title">Test your flags knowledge</p>
				</div>
			</div>

			<!-- Flags -->

			<div data-aos="fade-up" data-aos-duration="1000">
				<div class="row">
					<div class="col-md-12">
						<div class="d-flex flex-wrap justify-content-center gap-3">
							<!-- #1 Flags -->
							<div class="d-flex justify-content-center align-content-center">
								<div class="d-flex flex-column">
									<!-- Image -->

									<img
										src="/img/beach-safety/flag1.png"
										alt=""
										class="img-fluid rounded-5"
									/>
									<!-- Dropdown -->
									<div class="my-3">
										<select
											class="flag-select"
											aria-label=""
											data-correct-answer="2"
										>
											<option selected>What's the meaning of the flag?</option>
											<option value="1">No Swimming</option>
											<option value="2">Swim between the flags</option>
											<option value="3">Surfcraft riding area boundary</option>
											<option value="4">
												Caution required potential hazardz
											</option>
											<option value="5">Evacuate the water</option>
										</select>
									</div>
								</div>
							</div>

							<!-- #2 Flag -->
							<div class="d-flex justify-content-center align-content-center">
								<div class="d-flex flex-column">
									<!-- Image -->
									<img
										src="/img/beach-safety/flag2.png"
										alt=""
										class="img-fluid rounded-5"
									/>
									<!-- Dropdown -->
									<div class="my-3">
										<select
											class="flag-select"
											aria-label=""
											data-correct-answer="3"
										>
											<option selected>What's the meaning of the flag?</option>
											<option value="1">No Swimming</option>
											<option value="2">Swim between the flags</option>
											<option value="3">Surfcraft riding area boundary</option>
											<option value="4">
												Caution required potential hazardz
											</option>
											<option value="5">Evacuate the water</option>
										</select>
									</div>
								</div>
							</div>

							<!-- #3 Flag -->
							<div class="d-flex justify-content-center align-content-center">
								<div class="d-flex flex-column">
									<!-- Image -->
									<img
										src="/img/beach-safety/flag3.png"
										alt=""
										class="img-fluid rounded-5"
									/>
									<!-- Dropdown -->
									<div class="my-3">
										<select
											class="flag-select"
											aria-label=""
											data-correct-answer="1"
										>
											<option selected>What's the meaning of the flag?</option>
											<option value="1">No Swimming</option>
											<option value="2">Swim between the flags</option>
											<option value="3">Surfcraft riding area boundary</option>
											<option value="4">
												Caution required potential hazardz
											</option>
											<option value="5">Evacuate the water</option>
										</select>
									</div>
								</div>
							</div>

							<!-- #4 Flag -->
							<div class="d-flex justify-content-center align-content-center">
								<div class="d-flex flex-column">
									<!-- Image -->
									<img
										src="/img/beach-safety/flag4.png"
										alt=""
										class="img-fluid rounded-5"
									/>
									<!-- Dropdown -->
									<div class="my-3">
										<select
											class="flag-select"
											aria-label=""
											data-correct-answer="4"
										>
											<option selected>What's the meaning of the flag?</option>
											<option value="1">No Swimming</option>
											<option value="2">Swim between the flags</option>
											<option value="3">Surfcraft riding area boundary</option>
											<option value="4">
												Caution required potential hazardz
											</option>
											<option value="5">Evacuate the water</option>
										</select>
									</div>
								</div>
							</div>

							<!-- #5 Flag -->
							<div class="d-flex justify-content-center align-content-center">
								<div class="d-flex flex-column">
									<!-- Image -->
									<img
										src="/img/beach-safety/flag5.png"
										alt=""
										class="img-fluid rounded-5"
									/>
									<!-- Dropdown -->
									<div class="my-3">
										<select
											class="flag-select"
											aria-label=""
											data-correct-answer="5"
										>
											<option selected>What's the meaning of the flag?</option>
											<option value="1">No Swimming</option>
											<option value="2">Swim between the flags</option>
											<option value="3">Surfcraft riding area boundary</option>
											<option value="4">
												Caution required potential hazardz
											</option>
											<option value="5">Evacuate the water</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- End Of Check -->

			<!-- Check Button -->

			<div data-aos="fade-up" data-aos-duration="1000">
				<div class="row my-3">
					<div class="col-md-12">
						<div class="d-flex justify-content-center align-content-center">
							<button class="btn btn-primary p-3" id="checkFlags">CHECK</button>
						</div>
					</div>
				</div>
			</div>

			<!-- End of Check Button -->

			<div data-aos="fade-up" data-aos-duration="1000">
				<!-- Wrong Answer -->
				<div class="d-flex flex-column">
					<!-- Title -->
					<div class="d-flex justify-content-center align-content-center">
						<!-- <p class="title">Wrong Answers:</p> -->
						<p class="title wrong-title"></p>
					</div>
					<!-- Flags -->
					<div
						id="wrong-flags-container"
						class="d-flex flex-wrap justify-content-center gap-3"
					></div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- End of Flag -->

<!-- Warning -->
<section id="warning" class="warning">
	<div data-aos="fade-up" data-aos-duration="1000">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-12">
						<p class="title">Warning Flags:</p>
					</div>
				</div>

				<!-- Warning Flags -->
				<div class="d-flex justify-content-center gap-3">
					<!-- #1 Card -->
					<div class="flip-card">
						<div class="flip-card-inner">
							<div class="flip-card-front">
								<img
									src="/img/beach-safety/warning1.jpeg"
									alt="BlueBottle"
									class="img-fluid warning-image"
								/>
							</div>
							<div
								class="flip-card-back d-flex justify-content-center align-items-center"
							>
								<p class="title text-center">BlueBottle</p>
							</div>
						</div>
					</div>

					<!-- #2 Card -->
					<div class="flip-card">
						<div class="flip-card-inner">
							<div class="flip-card-front">
								<img
									src="/img/beach-safety/warning2.jpeg"
									alt="Shark"
									class="img-fluid warning-image"
								/>
							</div>
							<div
								class="flip-card-back d-flex justify-content-center align-items-center"
							>
								<p class="title text-center">Shark</p>
							</div>
						</div>
					</div>

					<!-- #3 Card -->
					<div class="flip-card">
						<div class="flip-card-inner">
							<div class="flip-card-front">
								<img
									src="/img/beach-safety/warning3.jpeg"
									alt="Warning"
									class="img-fluid warning-image"
								/>
							</div>
							<div
								class="flip-card-back d-flex justify-content-center align-items-center"
							>
								<p class="title text-center">Warning</p>
							</div>
						</div>
					</div>

					<!-- #4 Card -->
					<div class="flip-card">
						<div class="flip-card-inner">
							<div class="flip-card-front">
								<img
									src="/img/beach-safety/warning4.jpeg"
									alt="Large Waves"
									class="img-fluid warning-image"
								/>
							</div>
							<div
								class="flip-card-back d-flex justify-content-center align-items-center"
							>
								<p class="title text-center">Large Waves</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- End of Warning -->

{% endblock %}
