{% extends "template.html" %} {% block title %}Safe beaches - Aqua Guardian{%
endblock %} {% block content %}

<section id="latest-insight" class="latest-insight section-padding">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="row mb-3">
				<div class="col-md-12">
					<p class="title text-bold">Beach Education</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4"></div>

				<div class="col-md-4">
					<div
						class="phone-card rounded-5 d-flex flex-column justify-content-between"
						style="min-height: 90vh"
					>
						<div class="row">
							<div class="col-md-12">
								<div class="row mt-1">
									<div class="col-md-12">
										<!-- Phone header -->
										<div class="row">
											<div class="col-md-4">
												<span>9:30</span>
											</div>
											<div class="col-md-4 text-center">
												<span>●</span>
											</div>
											<div class="col-md-4">
												<div
													class="d-flex justify-content-end align-items-center"
												>
													<span class="">
														<img
															src="/img/icons/wifi.png"
															alt="WiFi"
															class="phone-icon"
														/>
														<img
															src="/img/icons/full-battery.png"
															alt="Battery"
															class="phone-icon"
														/>
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>

								<!-- Content -->
								<div class="row my-3">
									<div class="col-md-12">
										<!-- #1 -->
										<div class="row mt-3">
											<div class="col-md-12">
												<div
													class="phone-card-response first-response rounded-3"
												>
													Lorem ipsum dolor sit amet consectetur adipisicing
													elit. Nam, inventore quas quasi qui voluptates rem
													dignissimos eaque facilis fugit laudantium asperiores
													itaque officiis, consequuntur veritatis quidem tempora
													natus laborum tenetur impedit magni corrupti nulla
													vero beatae! Cumque, nostrum fuga ex dignissimos
													voluptatum optio, animi quas, quae laborum ullam illum
													impedit!
												</div>
											</div>
										</div>

										<!-- #2 -->
										<div class="row mt-3">
											<div class="col-md-12">
												<div
													class="phone-card-response first-response rounded-3"
												>
													Lorem ipsum dolor sit amet consectetur adipisicing
													elit. Nam, inventore quas quasi qui voluptates rem
													dignissimos eaque facilis fugit laudantium asperiores
													itaque officiis, consequuntur veritatis quidem tempora
													natus laborum tenetur impedit magni corrupti nulla
													vero beatae! Cumque, nostrum fuga ex dignissimos
													voluptatum optio, animi quas, quae laborum ullam illum
													impedit!
												</div>
											</div>
										</div>

										<!-- #3 -->
										<div class="row mt-3">
											<div class="col-md-12">
												<div
													class="phone-card-response second-response rounded-3"
												>
													Lorem ipsum dolor sit amet consectetur adipisicing
													elit. Nam, inventore quas quasi qui voluptates rem
													dignissimos eaque facilis fugit laudantium asperiores
													itaque officiis, consequuntur veritatis quidem tempora
													natus laborum tenetur impedit magni corrupti nulla
													vero beatae! Cumque, nostrum fuga ex dignissimos
													voluptatum optio, animi quas, quae laborum ullam illum
													impedit!
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Footer -->
						<div class="row">
							<div class="col-md-12">
								<!-- Button -->
								<div class="row my-3">
									<div class="col-md-12">
										<button class="w-100 p-3 phone-response-button rounded-3">
											<span style="color: white">GOT IT</span>
										</button>
									</div>
								</div>

								<div class="row">
									<div class="col-md-4"></div>
									<div class="col-md-4 text-center rounded-5">
										<div class="phone-button"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}
