{% extends "template.html" %} {% block title %}Beach Flags - Aqua Guardian{%
endblock %} {% block content %}

<section id="beach-flags" class="beach-flags">
	<div class="row section-padding">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="row px-3">
				<div class="col-4"></div>
				<div class="col-4">
					<div class="phone-card rounded-5">
						<!-- <div class="d-flex flex-column gap-3"> -->
						<!-- First Row -->
						<div class="d-flex justify-content-between align-items-center">
							<div class="text-left">
								<span class="text">9.30</span>
							</div>
							<div class="d-flex justify-content-center align-items-center">
								<div class="phone-camera"></div>
							</div>
							<div>
								<img src="/img/icons/wifi.png" alt="full-battery" />
								<img src="/img/icons/full-battery.png" alt="wifi" />
							</div>
						</div>

						<div class="phone-card-response rounded-5">
							<div class="first-response">
								<span class="text"
									>Welcome to Safety tutorials</span
								>
							</div>
						</div>

						<div class="phone-card-response rounded-5">
							<div class="first-response">
								<span class="text"
									>In this tutorials we will...</span
								>
							</div>
						</div>

						<div class="phone-card-response rounded-5">
							<div class="second-response">
								<span class="text"
									>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos
									non porro deserunt voluptates delectus id nobis laborum nisi
									nulla expedita dolore rem, esse mollitia atque, quae tempore
									repellendus! Illum magni dolorem itaque quae ut. Perspiciatis
									officia explicabo et perferendis reiciendis adipisci natus
									eligendi. Corrupti magni harum debitis culpa deleniti
									fugit.
									hbiibiviv
									
									sdfsd</span
								>
							</div>
						</div>

						<!-- Last -->
						<div class="d-flex flex-column mt-auto">
							<button class="phone-response-button w-100 my-2 rounded-3 p-3">
								<span class="text text-background-color">GOT IT</span>
							</button>
							<div class="phone-line"></div>
						</div>
					</div>
					<!-- </div> -->
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}
