{% extends "template.html" %} {% block title %}Historical Insights - Aqua
Guardians{% endblock %} {% block content %}

<section
	id="historical-insights"
	class="historical-insights py-5"
	style="min-height: 80vh"
>
<div class="row">
	<div class="col-12 col-xl-1">

	</div>
	<div class="col-12 col-xl-10"></div>
		<div class="row justify-content-center">
			<div class="col-md-10">
				<!-- Page Title and Description -->
				<h1 class="title text-bold">Interactive Drowning Statistics</h1>
				<h2 class="subtitle text-bold">Did You Know?</h2>
				<p class="text">
					Last year, 150 lives were lost to drowning at beaches. There’s been a
					26% increase over the past decade. This makes the beach one of the
					most dangerous places for children. It's important for parents like
					you to learn about beach safety to help keep them safe.
				</p>

				<!-- Filters for Bar Chart -->
				<div class="form-container mt-4">
					<h3 class="chart-header title text-bold mb-3">
						Explore Deaths and Disabilities by Age and Gender
					</h3>
					<p class="subtitle text-bold">Filter Data</p>
					<div class="d-flex flex-wrap">
						<div class="p-2">
							<label for="measure-filter">Measure: </label>
							<select id="measure-filter" class="form-select">
								<option value="all">All</option>
								<option value="Deaths">Deaths</option>
								<option value="YLDS">YLDS</option>
							</select>
						</div>
						<div class="p-2">
							<label for="gender-filter">Gender: </label>
							<select id="gender-filter" class="form-select">
								<option value="all">All</option>
								<option value="Male">Male</option>
								<option value="Female">Female</option>
							</select>
						</div>
						<div class="p-2">
							<label for="age-filter">Age Group: </label>
							<select id="age-filter" class="form-select">
								<option value="all">All</option>
								<option value="Newborn (0-28 days)">Newborn (0-28 days)</option>
								<option value="Infants (1-11 months)">
									Infants (1-11 months)
								</option>
								<option value="Young Toddlers (1-4 years)">
									Young Toddlers (1-4 years)
								</option>
								<option value="Children (5-9 years)">
									Children (5-9 years)
								</option>
								<option value="Older Children (10-17 years)">
									Older Children (10-17 years)
								</option>
							</select>
						</div>
					</div>
				</div>

				<!-- Bar Chart and Image Container -->
				<div class="row mt-4">
					<div class="col-12 col-xl-6">
						<div id="bar-chart">
							<svg width="100%" height="500"></svg>
						</div>
					</div>
					<!-- Image Container -->
					<div class="col-12 col-xl-6">
						<div id="image-container">
							<p class="subtitle text-bold">
								Which activities at the beach have the highest drowning rates?
							</p>
							<p class="text">
								Swimming and recreating are the highest at 67%, followed by
								Diving and Watercraft at 8% each.
							</p>
							<img src="/img/insights.jpg" alt="Image 1" class="img-fluid" />
						</div>
					</div>
				</div>

				<!-- Tooltip Element -->
				<div class="tooltip" id="tooltip"></div>
			</div>
		</div>
	</div>
</div>
	
</section>

{% endblock %}
