{% extends "template.html" %} {% block title %}Index page{% endblock %} {% block
	content %}
	
	<section id="hero" class="hero">
		<div class="d-flex flex-column justify-content-end hero-image">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-10">
						<p class="hero-title">Stay Safe in the Water</p>
						<p class="hero-title">Protect Your Family</p>
						<p class="hero-text">
							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti,
							amet illo velit numquam quidem possimus cupiditate laudantium modi
							libero impedit ab, dolorem, recusandae vero qui distinctio
							voluptatem suscipit. Perferendis quos quo natus error doloremque a
							dolor hic nisi voluptas vel? Neque harum blanditiis autem aperiam
							sint quia, facere fuga aliquam!
						</p>
						<div class="d-flex gap-3 mb-3">
							<a href="" class="btn btn-primary">Safe Beaches</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	section#
	
	{% endblock %}
	