

{% extends "template.html" %} {% block title %}Safe beaches - Aqua Guardian{%
endblock %} {% block content %}
<div class="container-fluid">
	<section id="banner" class="banner">
		<div class="row">
			<div
				class="col-sm-12 colmd-12 col-lg-12 col-xl-6 rounded-5 d-flex align-items-end"
				style="
					background-image: url('/img/recommendation-banner.jpg');
					height: 500px; /* You can set this to maintain the aspect ratio */
					background-position: center;
					background-size: cover;
					width: 100%;
					height: 50vh;
				"
			>
				<div data-aos="fade-up" data-aos-duration="1000">
					<div class="row w-100">
						<div class="col-md-1"></div>
						<!-- Aligning to the grid's padding -->
						<div class="col-md-10">
							<p class="title" style="color: #fff">
								Top 3 safest beaches near your current location
							</p>
						</div>
						<div class="col-md-1"></div>
						<!-- Optional for symmetry -->
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- <p>Your current location is:</p>
	<p>Latitude: {{ latitude }}</p>
	<p>Longitude: {{ longitude }}</p> -->
	<!-- <p>Top Beaches: {{ top_beaches }}</p> -->

	<!-- {{longitude}} {{latitude}} -->

	<section id="list-beaches" class="list-beaches">
		<div data-aos="fade-up">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<div data-aos="fade-up" data-aos-duration="1000">
						<div class="row">
							<!-- {% for beach in top_beaches %} -->
							<!-- {{beach['beach_info']}} -->
							<!-- {% endfor %} -->
							{% for beach in top_beaches %}
							
							<div class="col-md-4 my-3">
								<div class="card recom-card rounded-5">
									<div class="card-body">
											<a
											type="button"
											data-bs-toggle="modal"
											data-bs-target="#beachModal"
											data-beach-name="{{beach['BEACH_NAME']}}"
											data-beach-latitude="{{beach['LATITUDE']}}"
											data-beach-longitude="{{beach['LONGITUDE']}}"
											data-beach-warning="{{beach['warning']}}"
											data-beach-amenities="{{beach['amenities']}}"
											data-beach-description="{{beach['beach_info']}}"
											data-beach-temp-min="{{beach['temperature_2m_min']}}"
											data-beach-temp-max="{{beach['temperature_2m_max']}}"
											data-uv-index="{{beach['uv_index_max']}}"
											data-wind-speed="{{beach['max_wind_speed']}}"
											data-wave="{{beach['wave_height']}}"
											data-safe-beaufort="{{beach['safe_beaufort']}}"
											data-unsafe-beaufort="{{beach['unsafe_beaufort']}}"


										>
											<img
												src="{{beach['image_address']}}"
												alt=""
												class="img-fluid rounded-5 beach-image"
											/>
										</a>
										<div class="d-flex justify-content-center align-items-center">
											<p class="subtitle">{{beach['BEACH_NAME']}}</p>
										</div>
									</div>
										

									
								</div>
								
							</div>
							{% endfor %}

							<!-- Static Information -->
							<!-- <div class="col-md-4 my-3">
								<a type="button"
									data-bs-toggle="modal"
									data-bs-target="#beachModal"
									data-beach-name="beach1"
									data-beach-latitude="lat1"
									data-beach-longitude="long1"
									data-beach-warning="warning1"
									data-beach-amenities="amenities1"
									data-beach-description="description1">
									<img
										src="/img/bellsbeach.jpg"
										alt=""
										class="img-fluid rounded-5 beach-image"
									/>
								</a>

								<div class="d-flex justify-content-center align-items-center">
									<p class="subtitle">TEST</p>
								</div>
							</div>
							<div class="col-md-4 my-3">
								<a type="button"
									data-bs-toggle="modal"
									data-bs-target="#beachModal"
									data-beach-name="beach1"
									data-beach-latitude="lat1"
									data-beach-longitude="long1"
									data-beach-warning="warning1"
									data-beach-amenities="amenities1"
									data-beach-description="description1">
									<img
										src="/img/bellsbeach.jpg"
										alt=""
										class="img-fluid rounded-5 beach-image"
									/>
								</a>

								<div class="d-flex justify-content-center align-items-center">
									<p class="subtitle">TEST</p>
								</div>
							</div>
							<div class="col-md-4 my-3">
								<a type="button"
									data-bs-toggle="modal"
									data-bs-target="#beachModal"
									data-beach-name="beach1"
									data-beach-latitude="lat1"
									data-beach-longitude="long1"
									data-beach-warning="warning1"
									data-beach-amenities="amenities1"
									data-beach-description="description1">
									<img
										src="/img/bellsbeach.jpg"
										alt=""
										class="img-fluid rounded-5 beach-image"
									/>
								</a>

								

								<div class="d-flex justify-content-center align-items-center">
									<p class="subtitle">TEST</p>
								</div>
							</div> -->

							<!-- End of static information -->
						</div>
					</div>

					<!-- Card Content -->

					<!-- <div data-aos="fade-up" data-aos-duration="1000">
						<div class="row">
							{% for beach in top_beaches %}
							<div class="col-md-4 my-3">
								<a
									type="button"
									data-bs-toggle="modal"
									data-bs-target="#bellsbeach1"
								>
									<img
										src="{{beach['image_address']}}"
										alt="{{beach['BEACH_NAME']}}"
										class="img-fluid rounded-5 beach-image"
									/>
								</a>

								<div class="d-flex justify-content-center align-items-center">
									<p class="subtitle">{{beach['BEACH_NAME']}}</p>
								</div>
							</div>
							{% endfor %}
						</div>
					</div> -->

					<!-- Card Content End -->
				</div>
			</div>
		</div>
	</section>
</div>

<!-- Beach Modal -->
<!-- #1 -->
<div
	class="modal fade"
	id="beachModal"
	tabindex="-1"
	role="dialog"
	aria-labelledby="beachModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog  modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="d-flex justify-content-end">
					<button
					type="button"
					class="close"
					data-bs-dismiss="modal"
					aria-label="Close"
					style="background-color: transparent !important;"
				>
					<span aria-hidden="true">&times;</span>
				</div>
				
				</button>
				<div class="row mx-3 mb-3">
					<div class="col-md-12">
						<!-- <div class="seperator"></div> -->
						<div class="d-flex">
							<p class="subtitle modal-title"></p>
							<div id="title-container"></div>
						</div>
					</div>
				</div>
				<div class="row mx-3 mb-3">
					<div class="col-md-12">
						<!-- <div class="seperator"></div> -->
						<p class="subtitle">Amenities</p>
						<div class="d-flex amenities-container">
							<!-- <p class="text">Amminities:</p>
							<p class="text modal-amminities"></p> -->
						</div>
					</div>
				</div>
				<div class="row mx-3 mb-3">
					<div class="col-md-12">
						<!-- <div class="seperator"></div> -->
						<p class="subtitle">Warning</p>
						<div class="d-flex warning-container">
							<!-- <p class="text">Amminities:</p>
							<p class="text modal-amminities"></p> -->
						</div>
					</div>
				</div>
				<div class="row mx-3 mb-3">
					<div class="col-md-12">
						<div class="text .modal-description"></div>
					</div>
				</div>
				<div class="row mx-3 mb-3">
					<div class="col-md-12">
						<!-- <div class="seperator"></div> -->

						<p class="text modal-description"></p>
					</div>
				</div>

				<!-- Weather -->
				<div class="row mx-3 mb-3">
					<div class="col-md-12">
						<div class="row my-3">
							<div class="col-md-12"><p class="title">Weather</p></div>
						</div>
						<div class="row my-3">
							<div class="col-md-12">
								<!-- Temperature -->
								<div class="row mb-3">
									<div class="col-md-12">
										<!-- <div class="seperator"></div> -->
										<div class="d-flex gap-3">
											<p class="text temperature_min modal-temperature-min">
												
											</p>
											<p class="text temperature_max modal-temperature-max">
												
											</p>
										</div>
									</div>
								</div>

								<!-- Condition -->
								<div class="row mb-3">
									<div class="col-md-12">
										<!-- <div class="seperator"></div> -->
										<div class="d-flex gap-3">
											<!-- uv index -->
											<div class="d-flex gap-3 justify-content-center align-items-center">
												<img src="/img/weather/uv-index.png" alt="" class="weather-icon img-fluid">
												
												<p class="text modal-uv-index"></p>
												
											</div>

											<!-- wind -->
											<div class="d-flex gap-3 justify-content-center align-items-center">
												<img src="/img/weather/wind.png" alt="" class="weather-icon img-fluid">
												
												<p class="text modal-wind-speed"></p>
												
											</div>

											<!-- wave -->
											<div class="d-flex gap-3 justify-content-center align-items-center">
												<img src="/img/weather/wave.png" alt="" class="weather-icon img-fluid">
												
												<p class="text modal-wave"></p>
												
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Safe time -->
						<div class="row my-3">
							<div class="col-md-12"><p class="title">Safe time:</p></div>
						</div>

						<div class="row my-3"></div>
							<div class="col-md-12">
								<!-- <p class="text modal-save-beaufort"></p> -->
								<div class="d-flex flex-wrap safe-beaufort-container gap-2"></div>
							</div>
						</div>
					</div>
				</div>

				

				
			</div>
			<!-- <div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
					Close
				</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div> -->
		</div>
	</div>
</div>

{% endblock %}
	