{% extends "template.html" %} {% block title %}Recommendation{% endblock %} {%
block content %}

<div class="container-fluid">
	<section id="banner" class="banner">
		<div class="row">
			<div
				class="col-sm-12 colmd-12 col-lg-12 col-xl-6 rounded-5 d-flex align-items-end"
				style="
					background-image: url('/img/recommendation-banner.jpg');
					height: 500px; /* You can set this to maintain the aspect ratio */
					background-position: center;
					background-size: cover;
					width: 100%;
					height: 50vh;
				"
			>
				<div data-aos="fade-up" data-aos-duration="1000">
					<div class="row w-100">
						<div class="col-md-1"></div>
						<!-- Aligning to the grid's padding -->
						<div class="col-md-10">
							<p class="title" style="color: #fff">
								Top 3 safest beaches in your current state of residence
							</p>
						</div>
						<div class="col-md-1"></div>
						<!-- Optional for symmetry -->
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- <p>Your current location is:</p>
		<p>Latitude: {{ latitude }}</p>
		<p>Longitude: {{ longitude }}</p> -->

	<!-- {{longitude}} {{latitude}} -->

	<section id="list-beaches" class="list-beaches">
		<div data-aos="fade-up">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<!-- <div data-aos="fade-up" data-aos-duration="1000">
							<div class="row">
								<div class="col-md-4 my-3">
									<a
										type="button"
										data-bs-toggle="modal"
										data-bs-target="#beachModal"
										data-beach-name="Bells Beach1"
										data-beach-image="/img/bellsbeach.jpg"
										data-beach-description="Description of Bells Beach1"
									>
										<img
											src="/img/bellsbeach.jpg"
											alt=""
											class="img-fluid rounded-5 beach-image"
										/>
									</a>
	
									<div class="d-flex justify-content-center align-items-center">
										<p class="subtitle">TEST</p>
									</div>
								</div>
								<div class="col-md-4 my-3">
									<a
										type="button"
										data-bs-toggle="modal"
										data-bs-target="#beachModal"
										data-beach-name="Bells Beach2"
										data-beach-image="/img/bellsbeach.jpg"
										data-beach-description="Description of Bells Beach2"
									>
										<img
											src="/img/bellsbeach.jpg"
											alt=""
											class="img-fluid rounded-5 beach-image"
										/>
									</a>
	
									<div class="d-flex justify-content-center align-items-center">
										<p class="subtitle">TEST</p>
									</div>
								</div>
								<div class="col-md-4 my-3">
									<a
										type="button"
										data-bs-toggle="modal"
										data-bs-target="#beachModal"
										data-beach-name="beachModal"
										data-beach-image="/img/bellsbeach.jpg"
										data-beach-description="Description of Bells Beach3"
									>
										<img
											src="/img/bellsbeach.jpg"
											alt=""
											class="img-fluid rounded-5 beach-image"
										/>
									</a>
	
									<div class="d-flex justify-content-center align-items-center">
										<p class="subtitle">TEST</p>
									</div>
								</div>
							</div>
						</div> -->

					<!-- Card Content -->

					<!-- <div data-aos="fade-up" data-aos-duration="1000">
							<div class="row">
								{% for beach in top_beaches %}
								<div class="col-md-4 my-3">
									<a
										type="button"
										data-bs-toggle="modal"
										data-bs-target="#bellsbeach1"
									>
										<img
											src="{{beach['image_address']}}"
											alt="{{beach['BEACH_NAME']}}"
											class="img-fluid rounded-5 beach-image"
										/>
									</a>
	
									<div class="d-flex justify-content-center align-items-center">
										<p class="subtitle">{{beach['BEACH_NAME']}}</p>
									</div>
								</div>
								{% endfor %}
							</div>
						</div> -->

					<!-- Card Content End -->
				</div>
			</div>
		</div>
	</section>
</div>

<!-- Beach Modal -->
<!-- #1 -->
<div
	class="modal fade"
	id="beachModal"
	tabindex="-1"
	role="dialog"
	aria-labelledby="beachModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="beachModalLabel">Bells Beach</h5>
				<button
					type="button"
					class="close"
					data-bs-dismiss="modal"
					aria-label="Close"
				>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<div class="d-flex flex-column">
							<img
								src="/img/bellsbeach.jpg"
								alt=""
								class="img-fluid rounded-5"
								id="beachModalImage"
							/>
							<p class="beach-description"></p>
							<!-- <p class="beach-description text mt-3">
									Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non
									praesentium inventore mollitia tenetur distinctio earum ipsam
									provident! Natus, laborum sed quidem magni vero nulla minima
									magnam blanditiis! Sunt ut sapiente et ex dolores quo
									temporibus, nihil repellat numquam laborum adipisci suscipit
									soluta aperiam cumque! Beatae, nemo recusandae. Voluptates,
									natus officiis.
								</p> -->
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
					Close
				</button>
				<!-- <button type="button" class="btn btn-primary">Save changes</button> -->
			</div>
		</div>
	</div>
</div>

{% endblock %}
