{% extends "template.html" %} {% block title %}Water Safety{% endblock %} {%
block content %}

<section id="water-safety" class="water-safety">
	<div class="row my-3">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<!-- <div class="card rounded-5"> -->
			<!-- <div class="card-body"> -->
			<!-- BEACH SAFETY - FLAGS & SIGNS -->
			<div class="row">
				<div class="col-md-12">
					<p class="title">BEACH SAFETY - FLAGS & SIGNS</p>
				</div>
				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-10">
						<p class="text">
							The beach is a dynamic, ever-changing environment. Although it can
							be fun, it can also be unpredictable and dangerous to people who
							are unaware of the hazards that can be present at times. That’s
							why trained lifeguards who understand the beach use a system of
							flags and signs to advise the people who visit with the important
							things they need to know.
						</p>

						<p class="text">
							The most important flags on the beach are the RED and YELLOW
							flags. These show the supervised area of the beach and that a
							lifesaving service is operating. If there are no red and yellow
							flags, check with the lifeguards and if unsure don’t go in the
							water.
						</p>

						<p class="text">
							Safety signs are put in place to warn you about the permanent and
							occasional hazards that are present in the environment. Some of
							these signs are permanent for long term hazards. However, others
							are put into place each day by the lifeguards to show you the
							hazards present on that day in a specific location: such as rip
							currents which can change locations on different days.
						</p>
					</div>
				</div>
			</div>

			<!-- BEACH FLAGS -->
			<div class="row mt-3">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12">
							<p class="title">BEACH FLAGS</p>
						</div>
					</div>

					<div class="row">
						<div class="col-md-1"></div>
						<!-- <div class="col-md-10">
										<img src="/img/water-safety/flags.png" alt="" />
									</div> -->
						<div class="col-md-10">
							<div class="col-md-12">
								<div class="row">
									<div class="col-sm-12 col-md-2">
										<img src="/img/water-safety/flag1.png" alt="" />
									</div>
									<div class="col-md-2">
										<img src="/img/water-safety/flag2.png" alt="" />
									</div>
									<div class="col-md-2">
										<img src="/img/water-safety/flag3.png" alt="" />
									</div>
									<div class="col-md-2">
										<img src="/img/water-safety/flag4.png" alt="" />
									</div>
									<div class="col-md-2">
										<img src="/img/water-safety/flag5.png" alt="" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- BEACH FLAGS END -->

			<div class="row mt-3">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12">
							<p class="title">WARNING SIGNS</p>
						</div>
					</div>

					<div class="row">
						<div class="col-md-1"></div>
						<div class="col-md-10">
							<!-- WARNING SIGN INFORMATION -->

							<div class="d-flex justify-content-between">
								<!-- Information -->
								<div>
									<p class="text warning-information">
										Use a yellow background, and include simple images to
										communicate what you should be aware of. It’s important to
										always observe and abide by the safety signs.
									</p>
								</div>
								<!-- Image -->
								<div>
									<img
										src="/img/water-safety/warning-flags.png"
										alt=""
										class="img-fluid"
									/>
								</div>
							</div>

							<!-- WARNING SIGN END -->
						</div>
					</div>
				</div>
			</div>

			<!-- BEACH SAFETY - FLAGS & SIGNS -->

			<!-- Lifeguard Top Tips -->

			<div class="row mt-3">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12">
							<p class="title">LIFEGUARD TOP TIPS</p>
						</div>
					</div>

					<!-- Lifeguard top tips information -->
					<!-- #1 -->
					<div class="row">
						<div class="col-md-1"></div>
						<div class="col-md-10">
							<div class="d-flex justify-content-between life-information">
								<!-- Left -->
								<div>
									<img
										src="/img/water-safety/life-1.png"
										alt=""
										class="img-fluid rounded-3 life-image"
									/>
								</div>
								<!-- Right -->
								<div>
									<div class="seperator"></div>
									<p class="text">SWIM BETWEEN THE RED AND YELLOW FLAGS</p>
									<p class="text safety-information">
										When you see red and yellow flags on a beach, it indicates
										that there is currently a lifesaving service operating on
										that beach. The lifeguards have chosen a section of the
										beach that’s best for swimming and they’ll closely supervise
										this area.
									</p>
								</div>
							</div>
						</div>
					</div>

					<!-- #2 -->
					<div class="row mt-3">
						<div class="col-md-1"></div>
						<div class="col-md-10">
							<div class="d-flex justify-content-between life-information">
								<!-- Left -->
								<div>
									<img
										src="/img/water-safety/life-2.png"
										alt=""
										class="img-fluid rounded-3 life-image"
									/>
								</div>
								<!-- Right -->
								<div>
									<div class="seperator"></div>

									<p class="text">READ THE SAFETY SIGNS</p>
									<p class="text safety-information">
										Before you go on to the beach be sure to read the safety
										signs. This will ensure you’re aware of any warnings or
										dangers on the beach. You can also find other helpful
										information to make your day at the beach more enjoyable.
										You might also find single signs placed on the beach to
										highlight specific warnings.
									</p>
								</div>
							</div>
						</div>
					</div>

					<!-- #3 -->
					<div class="row mt-3">
						<div class="col-md-1"></div>
						<div class="col-md-10">
							<div class="d-flex justify-content-between life-information">
								<!-- Left -->
								<div>
									<img
										src="/img/water-safety/life-3.png"
										alt=""
										class="img-fluid rounded-3 life-image"
									/>
								</div>
								<!-- Right -->
								<div>
									<div class="seperator"></div>

									<p class="text">ASK A LIFEGUARD FOR SAFETY ADVICE</p>
									<p class="text safety-information">
										Lifeguards are highly trained and very knowledgeable about
										beach safety and conditions. When you arrive at the beach
										look for the lifeguards. Feel free to ask them about the
										day’s conditions, as well any additional beach safety advice
										they might have for that specific beach – because every
										beach is different.
									</p>
								</div>
							</div>
						</div>
					</div>

					<!-- #4 -->
					<div class="row mt-3">
						<div class="col-md-1"></div>
						<div class="col-md-10">
							<div class="d-flex justify-content-between life-information">
								<!-- Left -->
								<div>
									<img
										src="/img/water-safety/life-4.png"
										alt=""
										class="img-fluid rounded-3 life-image"
									/>
								</div>
								<!-- Right -->
								<div>
									<div class="seperator"></div>

									<p class="text">SWIM WITH A FRIEND</p>
									<p class="text safety-information">
										Not only is swimming with a friend (or family member) a fun
										way to enjoy the beach, it is also very sensible. While
										you’re swimming together you can keep an eye out for each
										other, and if further assistance is required, one person
										could call or go for help. If everyone swimming together
										knows their own limits it’s a good idea to share this with
										those around you so you can all stay within everyone’s
										comfortable limits.
									</p>
								</div>
							</div>
						</div>
					</div>

					<!-- #5 -->
					<div class="row mt-3">
						<div class="col-md-1"></div>
						<div class="col-md-10">
							<div class="d-flex justify-content-between life-information">
								<!-- Left -->
								<div>
									<img
										src="/img/water-safety/life-5.png"
										alt=""
										class="img-fluid rounded-3 life-image"
									/>
								</div>
								<!-- Right -->
								<div>
									<div class="seperator"></div>

									<p class="text">
										IF YOU NEED HELP, STAY CALM AND ATTRACT ATTENTION
									</p>
									<p class="text safety-information">
										Even the most careful people can find themselves out of
										their limits in the water. If you are not feeling
										comfortable in the water and you require a lifeguard’s
										assistance to get back to shore, stay calm, raise your arm
										in the air and wave it from side to side. This will attract
										the attention of a lifeguard who will be able to come to
										your assistance. You should conserve your energy by floating
										on your back and staying calm. This will ensure you have the
										energy to remain afloat until further aid arrives.
									</p>
								</div>
							</div>
						</div>
					</div>
					<!-- Lifeguard top tips information -->
				</div>
			</div>

			<!-- Lifeguard Top Tips -->

			<!-- RIP CURRENTS -->

			<div class="row mt-3">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12">
							<p class="title">RIP CURRENTS</p>
						</div>
					</div>

					<div class="row mt-3">
						<div class="col-md-1"></div>
						<div class="col-md-10">
							<div class="seperator"></div>

							<p class="text">HOW TO SPOT A RIP CURRENT</p>
							<p class="text">The key signs to look for are:</p>
							<ul>
								<li>Deeper and/or darker water</li>
								<li>Fewer breaking waves</li>
								<li>Sandy coloured water extending beyond the surf zone</li>
								<li>Debris or seaweed</li>
								<li>Significant water movement</li>
							</ul>
						</div>
					</div>

					<div class="row mt-3">
						<div class="col-md-1"></div>
						<div
							class="col-md-10 d-flex justify-content-center align-items-center"
						>
							<img
								src="/img/water-safety/rip-currents.png"
								alt=""
								class="img-fluid"
							/>
						</div>
					</div>

					<div class="row mt-3">
						<div class="col-md-1"></div>
						<div class="col-md-10">
							<div class="seperator"></div>

							<p class="text">HOW TO SURVIVE A RIP CURRENT</p>
							<p class="text">
								If you’re caught in a rip current, stay calm, conserve your
								energy and consider these options:
							</p>
							<ul>
								<li>Stay calm</li>
								<li>
									Seek help. Raise your arm and call out. You may be rescued
								</li>
								<li>
									Float with the current. It may return you to a shallow
									sandbank
								</li>
								<li>
									Swim parallel to the beach or towards the breaking waves. You
									may escape the rip current
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<!-- END OF RIP CURRENTS -->
			<!-- </div> -->
			<!-- </div> -->
		</div>
	</div>
</section>

{% endblock %}
